//============================================
// THEME COLORS
//============================================
// STYLISTIC VARIABLES
$border-radius: 3px;
$animation-speed: 0.1s;
$hover-difference: 6%;
$contrast: 0.15;
$anchor-offset: 48px;

// BRAND -- accent colors to match your brand	
$primary: #2c7dda;
$secondary: #2c8b39;
// $primary: #a11717;
// $secondary: #3493d3;
// $secondary: #3b914e;

// HELPER COLORS -- wouldn't recommend changing
$error: #e74c3c;
$warning: #f39c12;
$info: #3493d3;
$success: #22ac73;
$black: #252830;
$white: #fafafa;
$light-grey: rgba(mix($black, $white, 50%), 0.10);
$grey: rgba(mix($black, $white, 50%), 0.5);
$dark-grey: rgba(mix($black, $white, 50%), 0.8);

// PAGE -- you can invert these values to automatically create a dark theme
$background-color: $white;
$background-inverse: $black;
$text-color: $black;
$text-inverse: $white;

// FORMS -- wouldn't recommend changing
$form-input-background: hover-inverse($background-color, $hover-difference);
$form-border-color: rgba(contrast($background-color, #fff, #000), $contrast);

//============================================
// TYPEOGRAPHY
//============================================
$font-size: 18px;
$font-family: Ubuntu,apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

$line-height: 1.8;
$header-line-height: 1.5;

$h1: (
	size: 2.8rem
	, color: inherit
	, font-weight: 700
);
$h2: (
	size: 1.8rem
	, color: inherit
	, font-weight: 700
);
$h3: (
	size: 1.5rem
	, color: inherit
	, font-weight: 700
);
$h4: (
	size: 1.2rem
	, color: inherit
	, font-weight: 700
);
$h5: (
	size: 1.0rem
	, color: inherit
	, font-weight: 500
);
$h6: (
	size: 0.8rem
	, color: inherit
	, font-weight: 500
);

//============================================
// LAYOUT
//============================================
$padding: 0.8rem;
$viewport-md: 768px;
$viewport-lg: 1024px;
$z-int: 10; // z-index classes, how much should they space by?


//============================================
// ADVANCED
//============================================

// Optionally add items to these lists to create color-classes
$system-colors: (
	black: $black
	, white: $white

	, primary: $primary
	, secondary: $secondary

	, success: $success
	, info: $info
	, warning: $warning
	, error: $error

	, light-grey: $light-grey
	, grey: $grey
	, dark-grey: $dark-grey
);

// Button colors/classes
$button-colors: (
	primary: $primary
	, secondary: $secondary
	, black: $black

	, success: $success
	, info: $info
	, warning: $warning
	, error: $error
);

// Message colors/classes
$message-colors: (
	success: $success
	, info: $info
	, warning: $warning
	, error: $error
);

// HELPER VARIABLES 
$g0: 0;
$g1: $padding;
$g2: $padding * 2;
$g3: $padding * 3;
$g4: $padding * 4;
$g5: $padding * 5;
$g6: $padding * 6;
$g7: $padding * 7;
$g8: $padding * 8;

$z-bg: -1;
$z-low: $z_int * 1;
$z-medium: $z_int * 2;
$z-high: $z_int * 3;