// Borders
%border {
	border-style: solid;
	border-color: $grey;
}
.bord {
	@extend %border;
	border-width: 1px;
	@each $name, $color in $system_colors {
		&#{-$name} {border-color: map-get($color, bg);}
	}
}
.bordt, .bordy {
	@extend %border;
	border-top-width: 1px;
	&#{0} {border-top:none;}
}
.bordr, .bordx {
	@extend %border;
	border-right-width: 1px;
	&#{0} {border-right:none;}
}
.bordb, .bordy {
	@extend %border;
	border-bottom-width: 1px;
	&#{0} {border-bottom:none;}
}
.bordl, .bordx {
	@extend %border;
	border-left-width: 1px;
	&#{0} {border-left:none;}
}

.rounded {border-radius: $border-radius;}