// BACKGROUNDS
.bg-none {background:none; color:inherit;}
@each $name, $color in $system_colors {
	.bg-#{$name} {
		background-color: map-get($color, bg); color: contrast(map-get($color, bg)); 
		a {color: contrast(map-get($color, bg)); }
		a:hover, a:focus {color: lighten(map-get($color, color), 15%);}

		.os_menu_button span {background: contrast(map-get($color, bg)); }
	}
}

// MESSAGES
%message {
	border-left: 4px solid transparent; padding: $g2 $g4; margin-bottom: $g2;
}
@each $name, $color in $system_colors {
	.message-#{$name} {
		$bg: rgba(map-get($color, bg), .25);
		$bg_test: lighten(map-get($color, bg), 25%);
		@extend %message;
		background-color: $bg; color: contrast($bg_test); border-color: map-get($color, bg);
	}
}
[class*="message-"] p:last-child {margin-bottom:0;}

// TEXT COLORS
@each $name, $color in $system_colors {
	.text-#{$name}, {
		color: map-get($color, bg) !important;
		
	}
	a.text-#{$name} {
		color: map-get($color, bg);
		&a:hover, &a:focus {color: lighten(map-get($color, bg), $hover_diff);}
	}
}