////////////////////////////////////////////
// UI Elements
////////////////////////////////////////////

// Pagination
.pagination {
	margin: $g1 0 $g2;
	& > * + * {margin-left: 4px;}
	& > * {
		display:inline-block; padding: $g1 / 4 $g2; text-align:center; color: $black; border: 1px solid #ddd;
		&:hover {color: $black; background: darken($pure_white, $hover_diff); text-decoration:none;}
		&.active {background:$primary; border-color: $primary; color:$white; cursor: default; }
	}
}

// Tabs
.tabs {
	.tab_nav {
		overflow:hidden; font-size:0; list-style:none; margin-bottom: -1px;
		li {display:inline-block;}
		a {
			font-size: 1rem; border-bottom: 4px solid transparent; cursor:pointer; color:$black; display:inline-block; padding: $g1 $g2;
			&:hover {background: darken($pure_white, $hover_diff); text-decoration:none; border-color: $grey;}
			&:active, &:focus, &.active {border-color: $primary; color:$black;}
		}
		a + a {margin-left: $g1;}
	}

	.tab_content {
		@extend .bord; display:none; padding: $g3;
		&.active, &:target {display:block;}
	}
}

// Tooltips
[tooltip] {
	$background: $black;

	$notch_size: 5px;
	$offset: 10px;
	$body_pos: calc(100% + #{$notch_size});
	$notch_pos: calc(100%);
	
	position:relative;
	&::before, &::after {position: absolute; z-index: 100; opacity:1; left:50%;}
	// Body
	&:before {bottom: $body_pos; transform: translate(-50%, 0); max-width:300px; min-width: calc(100% + #{$g4 * 2}); background: $background; color: $white; padding: $g1 $g2; pointer-events: none; text-align: center; font-size: 0.9rem;}
	// Notch
	&:after {bottom: $notch_pos; transform: translate(-50%, -50%) rotate(45deg); height: $notch_size; width: $notch_size; background: $background; }

	&[tooltip-right] {
		&:before {transform: translate(0, -50%); top: 50%; right: auto; bottom: auto; left: $body_pos; }
		&:after {transform: translate(50%, -50%) rotate(45deg); top: 50%; right: auto; bottom: auto; left: $notch_pos;}
	}
	&[tooltip-bottom] {
		&:before {transform: translate(-50%, 0); top: $body_pos; right: auto; bottom: auto; left: 50%; }
		&:after {transform: translate(-50%, 50%) rotate(45deg); top: $notch_pos; right: auto; bottom: auto; left: 50%;}
	}
	&[tooltip-left] {
		&:before {transform: translate(0, -50%); top: 50%; right: $body_pos; bottom: auto; left: auto; }
		&:after {transform: translate(-50%, -50%) rotate(45deg); top: 50%; right: $notch_pos; bottom: auto; left: auto;}
	}

	&:hover, &:active {
		&:before {content: attr(tooltip); }
		&:after {content: ''; }
	}

}

// Modal
.modal {
	display:none; padding: $g2; position:fixed; @include prefix(transform, translateY(-50%)); top:50%; left:0; right:0; width:100%; z-index: $z-high; max-height:100%;
	&:target {display:block;}
	.modal_body {@extend .container; color: $black; padding: $g2; background: $white; position: relative; box-shadow: 0 0 $g4 rgba($black, .35); max-height:100%; }
	.modal_bg, &:before {cursor:default; position: fixed; top: -50vh; bottom: -50vh; left: -25%; right: -25%; z-index: $z-bg;}
	&:before { content: ''; background:rgba(0,0,0,.6);}
	.modal_close {
		font-size: $g3; position:absolute; top: -$g2; right: -$g2; cursor: pointer; height: $g4; width: $g4; background: $grey; border-radius: 50%; 
		&:before, &:after {
			content: ''; width: 50%; height: 3px; position:absolute; top: 50%; left: 50%; background: $black; 
		}
		&:before {transform: translate(-50%, -50%) rotate(45deg); }
		&:after {transform: translate(-50%, -50%) rotate(-45deg); }
		&:hover {
			background: $black;
			&:before, &:after {background:$white;}
		}
	}
	&:after {@extend .clear;}
}


// TABLES
table, thead, tbody {width: 100%; border-spacing: 0; border-collapse: collapse; max-width:100%; margin-bottom:$g2;}
table tr {border-bottom: 1px solid $grey;}
table th { @extend .caps; @extend .text-left; @extend .h5; }
table th, table td { padding: $g1; word-wrap: normal; line-height: 1; }
table.odd tbody tr:nth-child(odd), table.even tbody tr:nth-child(even) {background: rgba($black, .04)}
table.bordered td {border:1px solid $grey;}
table.noborder tr {border:none;}

// MENUS
.os_menu {
	list-style: none; padding: 0; margin: 0; right:0;
	li {
		display:inline-block; position: relative; 
		& > a {display:block; padding: $g1 $g2; border-bottom:4px solid transparent; font-weight: $font-weight-bold; }
		&.active > a {border-color: $primary;}
		&:hover > .sub-menu {display:block;}
	}
	
	.sub-menu {
		display:none; padding:0; position: absolute; top: 100%; left: 50%; @include prefix(transform, translateX(-50%)); width: 200px; max-width: 80vw; z-index: $z-high; background: inherit; background: $grey;
		li {display:block;}
		li:hover {background: rgba($black, .25)}
		a {display:block; padding: $g1 $g2;}
	}
}
.os_menu_button {
	display:none; float:right; text-align:right; border:none; padding:0; margin: 0; width: $g3; line-height: 0; font-size:0;

	span { height: 3px; width: 100%; background: $black; display: block;}
	span + span {margin-top:4px;}

	&.close {
		text-align:center; display:none; padding:4px;
		span {opacity:0; background: $primary; transform-origin: center; margin:0; }
		span:first-child {opacity:1; transform: rotate(-45deg); margin-top: 3px; }
		span:last-child {opacity:1; transform: rotate(45deg); margin-top: -3px; margin-bottom: 3px; }
	}
}

@media (max-width: $viewport-lg) {
	$menu_width: 200px !important;
	.wrapper {position: relative; right:0; left: 0;}
	.wrapper, .header_outer, .os_menu {position: relative; @include prefix(transition, right $animation-speed ease-in-out, left $animation-speed ease-in-out); }
	.os_menu_button.open {display: block; }
	.os_menu {
		position: fixed; top: 0; height: 100vh; width: $menu_width; max-width: $menu_width; right: -100%; left:auto;
		li {display:block;}
		a {display:block;}
	}
	// Pure CSS hamburger menu, just add #body to body
	#body:target {
		.os_menu_button.open {display:none;}
		.os_menu_button.close {display:block;}

		.os_menu {right:0;}
		.wrapper {right: $menu_width; left:-$menu_width;}
		.header_outer {right: $menu_width;}
	}
}