/* Grid */
.container {width: 95%; max-width: 1040px; margin: auto; padding: 20px 0;}
.row, .container {clear:both;}
.row:after, .container:after {content: ""; display:block; height:0; clear:both;}
[class*="os-"] {display: block; float: left; width: 100%; min-height: 20px;}
.noclear {clear:none !important;}

.flex-center {display: flex; align-items: center; justify-content: center;}

.os-1 {width: 8.33%;}
.os-2 {width: 16.66%;}
.os-3 {width: 25%;}
.os-4 {width: 33.33%;}
.os-5 {width: 41.66%;}
.os-6 {width: 50%;}
.os-7 {width: 58.33%;}
.os-8 {width: 66.66%;}
.os-9 {width: 75%;}
.os-10 {width: 83.33%;}
.os-11 {width: 91.66%;}
.os-12 {width: 100%;}

.offset-0 {margin-left:0;}
.offset-1 {margin-left:8.33%;}
.offset-2 {margin-left:16.66%;}
.offset-3 {margin-left:25%;}
.offset-4 {margin-left:33.33%;}
.offset-5 {margin-left:41.66%;}
.offset-6 {margin-left:50%;}
.offset-7 {margin-left:58.33%;}
.offset-8 {margin-left:66.66%;}
.offset-9 {margin-left:75%;}
.offset-10 {margin-left:83.33%;}
.offset-11 {margin-left:91.66%;}

/* Extra Small */
@media screen and (min-width : 0px) {
	.os-xs-1 {width: 8.33%;}
	.os-xs-2 {width: 16.66%;}
	.os-xs-3 {width: 25%;}
	.os-xs-4 {width: 33.33%;}
	.os-xs-5 {width: 41.66%;}
	.os-xs-6 {width: 50%;}
	.os-xs-7 {width: 58.33%;}
	.os-xs-8 {width: 66.66%;}
	.os-xs-9 {width: 75%;}
	.os-xs-10 {width: 83.33%;}
	.os-xs-11 {width: 91.66%;}
	.os-xs-12 {width: 100%;}
	
	[class*="visible-"] {display: none;}
	.visible-xs-block, .visible-xs {display:block;}
	.visible-xs-inline {display:inline;}
	.visible-xs-inline-block {display:inline-block;}
	
	.offset-xs-0 {margin-left:0;}
	.offset-xs-1 {margin-left:8.33%;}
	.offset-xs-2 {margin-left:16.66%;}
	.offset-xs-3 {margin-left:25%;}
	.offset-xs-4 {margin-left:33.33%;}
	.offset-xs-5 {margin-left:41.66%;}
	.offset-xs-6 {margin-left:50%;}
	.offset-xs-7 {margin-left:58.33%;}
	.offset-xs-8 {margin-left:66.66%;}
	.offset-xs-9 {margin-left:75%;}
	.offset-xs-10 {margin-left:83.33%;}
	.offset-xs-11 {margin-left:91.66%;}
	
	.card {padding: 2rem 3rem; }	
	.card > hr {margin-left: -3rem; margin-right: -3rem;}
}
/* Extra Small Max */
@media screen and (min-width : 0px) and (max-width : 475px) {
	.hidden-xs, .hide-xs {display:none !important;}
	.show-xs, .visible-xs {display:block;}
	
	.xs-text-center {text-align:center;}
	.xs-text-right {text-align:right;}
	.xs-text-left {text-align:left;}
}

/* Small */
@media screen and (min-width : 476px) {
	.os-sm-1 {width: 8.33%;}
	.os-sm-2 {width: 16.66%;}
	.os-sm-3 {width: 25%;}
	.os-sm-4 {width: 33.33%;}
	.os-sm-5 {width: 41.66%;}
	.os-sm-6 {width: 50%;}
	.os-sm-7 {width: 58.33%;}
	.os-sm-8 {width: 66.66%;}
	.os-sm-9 {width: 75%;}
	.os-sm-10 {width: 83.33%;}
	.os-sm-11 {width: 91.66%;}
	.os-sm-12 {width: 100%;}
	
	[class*="visible-"] {display: none;}
	.visible-sm-block, .visible-sm {display:block;}
	.visible-sm-inline {display:inline;}
	.visible-sm-inline-block {display:inline-block;}
	
	.offset-sm-0 {margin-left:0;}
	.offset-sm-1 {margin-left:8.33%;}
	.offset-sm-2 {margin-left:16.66%;}
	.offset-sm-3 {margin-left:25%;}
	.offset-sm-4 {margin-left:33.33%;}
	.offset-sm-5 {margin-left:41.66%;}
	.offset-sm-6 {margin-left:50%;}
	.offset-sm-7 {margin-left:58.33%;}
	.offset-sm-8 {margin-left:66.66%;}
	.offset-sm-9 {margin-left:75%;}
	.offset-sm-10 {margin-left:83.33%;}
	.offset-sm-11 {margin-left:91.66%;}
	
	.card {padding: 3rem 5rem; }	
	.card > hr {margin-left: -5rem; margin-right: -5rem;}
}
/* Small Max */
@media screen and (min-width : 476px) and (max-width : 767px) {
	.hidden-sm, .hide-sm {display:none !important;}
	.show-sm, .visible-sm {display:block;}
	
	.sm-text-center {text-align:center;}
	.sm-text-right {text-align:right;}
	.sm-text-left {text-align:left;}
}

/* Medium */
@media screen and (min-width : 768px) {
	.os-md-1 {width: 8.33%;}
	.os-md-2 {width: 16.66%;}
	.os-md-3 {width: 25%;}
	.os-md-4 {width: 33.33%;}
	.os-md-5 {width: 41.66%;}
	.os-md-6 {width: 50%;}
	.os-md-7 {width: 58.33%;}
	.os-md-8 {width: 66.66%;}
	.os-md-9 {width: 75%;}
	.os-md-10 {width: 83.33%;}
	.os-md-11 {width: 91.66%;}
	.os-md-12 {width: 100%;}
	
	[class*="visible-"] {display: none;}
	.visible-md-block, .visible-md {display:block;}
	.visible-md-inline {display:inline;}
	.visible-md-inline-block {display:inline-block;}
	
	.offset-md-0 {margin-left:0;}
	.offset-md-1 {margin-left:8.33%;}
	.offset-md-2 {margin-left:16.66%;}
	.offset-md-3 {margin-left:25%;}
	.offset-md-4 {margin-left:33.33%;}
	.offset-md-5 {margin-left:41.66%;}
	.offset-md-6 {margin-left:50%;}
	.offset-md-7 {margin-left:58.33%;}
	.offset-md-8 {margin-left:66.66%;}
	.offset-md-9 {margin-left:75%;}
	.offset-md-10 {margin-left:83.33%;}
	.offset-md-11 {margin-left:91.66%;}
	
	.card {padding: 4rem 7rem; }
	.card > hr {margin-left: -7rem; margin-right: -7rem;}
}
/* Medium Max */
@media screen and (min-width : 768px) and (max-width : 991px) {
	.hidden-md, .hide-md {display:none !important;}
	.show-md, .visible-md {display:block;}
	
	.md-text-center {text-align:center;}
	.md-text-right {text-align:right;}
	.md-text-left {text-align:left;}
}

/* Large */
@media screen and (min-width : 1000px) {
	.os-lg-1 {width: 8.33%;}
	.os-lg-2 {width: 16.66%;}
	.os-lg-3 {width: 25%;}
	.os-lg-4 {width: 33.33%;}
	.os-lg-5 {width: 41.66%;}
	.os-lg-6 {width: 50%;}
	.os-lg-7 {width: 58.33%;}
	.os-lg-8 {width: 66.66%;}
	.os-lg-9 {width: 75%;}
	.os-lg-10 {width: 83.33%;}
	.os-lg-11 {width: 91.66%;}
	.os-lg-12 {width: 100%;}
	
	[class*="visible-"] {display: none;}
	.hidden-lg, .hide-lg {display:none !important;}
	.visible-lg-block, .visible-lg {display:block;}
	.visible-lg-inline {display:inline;}
	.visible-lg-inline-block {display:inline-block;}
	
	.offset-lg-0 {margin-left:0;}
	.offset-lg-1 {margin-left:8.33%;}
	.offset-lg-2 {margin-left:16.66%;}
	.offset-lg-3 {margin-left:25%;}
	.offset-lg-4 {margin-left:33.33%;}
	.offset-lg-5 {margin-left:41.66%;}
	.offset-lg-6 {margin-left:50%;}
	.offset-lg-7 {margin-left:58.33%;}
	.offset-lg-8 {margin-left:66.66%;}
	.offset-lg-9 {margin-left:75%;}
	.offset-lg-10 {margin-left:83.33%;}
	.offset-lg-11 {margin-left:91.66%;}
	.card {padding: 6rem 8rem; }
	.card > hr {margin-left: -8rem; margin-right: -8rem;}
	
	.lg-text-center {text-align:center;}
	.lg-text-right {text-align:right;}
	.lg-text-left {text-align:left;}
}