
.bg-none {background:none; color:inherit;}
@each $name, $color in $system-colors {
	// BACKGROUNDS
	.bg-#{$name} { 
		background-color: $color; color: contrast($color); 
		a {color: contrast($color); }
	}

	// TEXT COLORS
	.text-#{$name} { color: $color !important; }
	a.text-#{$name} {color: $color;}
}

// MESSAGES
%message {
	border: 2px solid transparent; padding: $g1 $g2; margin-bottom: $g2; border-radius: $border-radius; font-weight: $font-medium;
	&:last-child {margin-bottom:0;}
}
@each $name, $color in $message-colors {
	.message-#{$name} {
		$border: rgba($color, (0.9 - $contrast));
		$bg: rgba($color, $contrast);
		@extend %message;
		background-color: $bg; color: contrast($bg); border-color: $border;
		a {color: contrast($bg); }
	}
}
[class*="message-"] p:last-child {margin-bottom:0;}