


// INPUTS
input, select, textarea {
	-webkit-appearance: none; display:block; border-radius: 0; padding: $g1; width: 100%; background: $form-input-background; color: contrast($form-input-background); border: 1px solid $form-border-color;
	@include prefix(transition, background $animation-speed ease-in-out, border $animation-speed ease-in-out, box-shadow $animation-speed ease-in-out); background-clip: padding-box; font-family: inherit; margin:0;
	&:focus {border-color: $primary; outline: 0; box-shadow: 0 0 0 $g1/4 rgba($primary, .25); }
	&:required {border-left-width: 4px;}
	&:invalid {border-left-color: $warning; font-style: italic; }
	&:invalid:focus, &:invalid:active {border-left-color: $error;}
	&:required:not(:invalid) {border-left-color: $success;}
}

textarea {resize: vertical;}
select[multiple] {height: auto; overflow:auto; padding: 0;}
input[type="range"] {border: none; -webkit-appearance: slider-horizontal;}
input[type="date"], input[type="datetime-local"] { padding: calc(#{$g1} - .1rem) $g1; }
input[type="color"] { padding: $g1 / 4 $g1 /2; height: calc(#{$line-height}rem + #{$g1}); }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="submit"] { margin-top: $g1; }

// Placeholder italicize
::-webkit-input-placeholder, ::-moz-placeholder, ::-ms-input-placeholder, ::placeholder { font-style:italic; }

// modern checkboxes and radios
input[type="radio"], input[type="checkbox"] {background: none;}
input[type="radio"] {border-radius: 50%;}
input[type="checkbox"], input[type="radio"] {
	vertical-align: bottom; width: $g2; height: $g2; display: inline-block; position:relative; margin: 0 $g1/2 0 $g1; border-width: 1px; padding: 2px; background-clip: content-box;
	&:first-of-type {margin-left:0;}
	&:invalid {border-width:1px; border-color: $warning;}
	&:invalid:focus, &:invalid:active {border-color: $error; }
	&:not(:invalid) { border-color: $form-border-color; }

	&:checked { background-color: $primary; border-color: $primary;	}
	&:focus { box-shadow: 0 0 6px rgba($primary, .25); }
}

// Selectboxes
option {font-style: normal; padding: $g1;}
option[disabled] {color: $grey; font-style: normal;}

// Label with required asterix
label {
	display:block;
	span {color: $error; margin: 0 4px;}
}